#completed {
    text-decoration: line-through;
}

.group {
    display: flex;
}

.group_title {
    width: 50%;
}

.group_options {
    display: flex;
    gap: 1em;
}

.task {
    display: flex;
}

.task_title {
    width: 50%;
}

.task_options {
    display: flex;
    gap: 1em;
}

#arrow {
    font-size: 2em;
    background-color: grey;
    border-color: grey;
}

.bin_button {
    background-color: green;
    border-color: green;
}

.cancel_button {
    background-color: crimson;
    border-color: crimson;
}

.delete_button {
    background-color: crimson;
    border-color: crimson;
}